.App {
  text-align: center;
}
.inp{
  border-style: none;
    border-bottom:1px solid darkgray;
    padding:10px 10px;
  }
.btn{
  margin: 1% 1%;
  border-radius: 8px;
  border-style: none;
  padding:12px 12px;
  color: white;
  background-color: dodgerblue;
}
.btn:hover{
  /* background-color: black; */
  cursor:pointer;
}
.form{
 margin: 2% 2%;
 padding: 25px 30px;
}
